@model Provider.CurrentSession.Room

@switch (Model.Access)
{
	case "Полный доступ":
		{
			<div class="container body-content">
				@{
					ViewBag.Title = $"{Model.Name}";
					Layout = "~/Views/Shared/MasterPage.cshtml";
				}
				<h2>@ViewBag.Title</h2>
				<div class='row'>
					<div class='col-md-offset-9 text-right'
					     style='font-size: 17px'>
						@Html.ActionLink(
						                 "Обновить",
							"Index",
							"RoomView",
							new
								{
									roomId = Model.Index
								},
							new
								{
									@class = "btn btn-default",
									type = "submit",
									name = "bttn",
									style = "background-color: #2DC354"
								}) |
						@Html.ActionLink(
						                 "Выгрузка отчета по датчикам",
							"GetFile",
							"RoomView",
						                 new {roomId = Model.Index},
							new
								{
									@class = "btn btn-default",
									type = "submit",
									name = "bttn",
									style = "background-color: #2DC354"
								})
					</div>
				</div>
				<hr />
				@Html.Partial("Room3D", Model)
				@Html.Partial("RoomSensors", null)
			</div>
			break;
		}
	case "Частичный доступ":
		{
<div class="container body-content">
	@{
		ViewBag.Title = $"{Model.Name}";
		Layout = "~/Views/Shared/MasterPage.cshtml";
	}
	<h2>@ViewBag.Title</h2>
	@Html.ActionLink(
	                 "Обновить",
		"Index",
		"RoomView",
		new
			{
				roomId = Model.Index
			},
		new
			{
				@class = "btn btn-default",
				type = "submit",
				name = "bttn",
				style = "background-color: #2DC354"
			})
	<hr />
	@Html.Partial("Room3D", Model)
</div>
			break;
		}
	case "Администратор":
		{
<div class="container body-content">
	@{
		ViewBag.Title = $"{Model.Name}";
		Layout = "~/Views/Shared/MasterPage.cshtml";
	}
	<h2>@ViewBag.Title</h2>
	@Html.ActionLink(
					 "Обновить",
		"Index",
		"RoomView",
		new
			{
				roomId = Model.Index
			},
		new
			{
				@class = "btn btn-default",
				type = "submit",
				name = "bttn",
				style = "background-color: #2DC354"
			})
	<hr />
</div>
			@Html.Partial("RoomAdmin", Model)
			<div class='container body-content'>
				@Html.Partial("RoomAdminData", Model)
				@Html.ActionLink(
				                 "Зарегистрировать",
					"Register",
					"Account",
					new
						{
							roomId = Model.Index
						},
					new
						{
							@class = "btn btn-default",
							type = "submit",
							name = "bttn",
							style = "background-color: #2DC354; float: right"
						})
			</div>
			break;
		}
}
